*{
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

header{
    text-align: center;
    color : rgb(33, 196, 28);
    margin-bottom: 5px;
}

header h1{
    margin-top: 0%;
    margin-bottom: 0%;
}

#riquadro{
    border-radius: 15px;
    width: 63%;
    background-color: rgba(0, 0, 0, 0.538);
    margin: 50px auto 0;
    padding: 91px;
}

#logo{
    width: 250px;
}

nav{
    background-color: rgb(33, 196, 28);
    padding: 10px;
    text-align: center;
    margin-bottom: 0%;
}

main{
    color: white;
}

section h2{
    display: inline-block;
    margin: 23px 0px 0px;
}/* stile del nome dell utente*/

section :last-child{
    border-radius: 5px;
    height: 30px;
    margin : 5px 0px;
}/*classe delle barre di carica*/

.nomeViaEStatoCarinaMargin{
    margin : 5px 0px;
}

#carica1{
    background-color: orange;
    width: 35%;
}/*stile della barra della carica del primo utente*/

#carica2{
    background-color: lime;
    width: 55%;
}/*stile della barra della carica del secondo utente*/

#carica3{
    background-color: red;
    width: 15%;
}/*stile della barra della carica del terzo utente*/



